<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>SpotifySwipe</title>
</head>
<body>
    <div id="div" hidden></div>
    <div id="overlay"></div>
    <!-- <header>
        <nav class="flex container">
            <div>
                <a href="playground">Team Name</a>
            </div>
            <div class="links">
                <a href="playground">Playground</a>
                <a href="stream">Stream</a>
            </div>
        </nav>
    </header> -->
    <main>
        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- <footer>
        <div class="container flex">
            <small>Made by Team Name</small>
        </div>
    </footer> -->
    <!-- <script src="static/js/main.js"></script> -->
</body>

</html>